
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1000px;
    margin: auto;
    display: flex;
}

hr{
    color: gray;
}

.header-mid ul li{
    list-style: none;
    display: inline;
}

.header-mid li a:hover{
    color: white;

}

.header-sx,
.header-mid,
.header-dx{
    align-items: center;
    padding: 10px;
}

.header-sx{
    width: 20%;
}

.header-mid{
    width: 60%;
    text-align: center;
}

.header-dx{
    width: 20%;
    text-align: right;
}

.header-div{
    background-color: #355DE0;
    margin: 0 auto;
}


.box2{
    background-color:white;
    padding: 30px;
}

.box3{
    background-color: rgba(211,211,211,255);
    padding: 30px;

}

.box4{
    background-color:white;
    padding: 30px;

}

.fuchsia-centered-box{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 500px;
    margin: auto;
}

.box-sub-container{
    background-image: url(../img/jumbo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 10px;
}

.button{
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    padding: 5px;
}
.put-beside{
    display: inline-block;
}



.light-blue-box{
    width: 60%;
    height: 300px;
    background-color: rgba(30,144,255,255);
    border: 1px dashed black;
}

.pink-box{
    width: 40%;
    height: 300px;
    background-color: pink;
    border: 1px dashed black;
}

.box5{
    background-color:rgba(211,211,211,255);    
    padding: 30px;

}

.box6{
    background-color: rgba(35,39,42,255);  
    padding: 10px;

}

.green-centered-box{
    background-color: green;
    height: 600px;
    margin: auto;
    border: 1px dashed black;
}

.sub-container{
    display: flex;
    width: 67%;
}

.pink-box2{
    width: 33%;
    height: 300px;
    background-color: rgba(240,128,128,255);
    border: 1px dashed black;
   
}

.acqua-box{
    background-color: rgba(32,178,170,255);
    height: 300px;
    width: 25%;
    border: 1px dashed white;
}

footer{
    background-color: rgba(35,39,42,255);
    padding: 30px;
}

.footer-sub-container{
    display: flex;
    height: 100px;
    background-color: aquamarine;
    justify-content: space-between;
    align-items: center;

}

hr{
    color: gray;
}

.little-pink-footer-box{
    background-color: pink;
    padding: 10px;
    border: 1px dashed black;
}